{% extends 'base.html' %}

{% block content %}
<h3>Registered Events</h3>
<div class="form-group mt-3">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}

        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>

        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="list-group">
    {% for registration in event_registrations %}
    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ registration.event.name }}</h5>
            <small>{{ registration.event.date }}</small>
        </div>
        <p class="mb-1">Details: {{ registration.event.description }}</p>
        <!-- Assuming you have a view named 'cancel_event_registration' to handle event registration cancellation -->
        <a href='{% url "cancel_event_registration" registration.id %}' class="btn btn-danger btn-sm">Cancel
            Registration</a>
    </div>
    {% empty %}
    <p>No event registrations found.</p>
    {% endfor %}
</div>
{% endblock %}