{% extends "base.html" %}
{% block content %}
<div class="container my-5 p-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-0 border rounded-5">
                <div class="card-body">
                    <div class="alert alert-info">
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}"
                            class="text-primary">Login Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}