{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-header text-center py-4">
                        <strong>Forgot Password?</strong>
                    </h3>
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <form method="POST" class="text-center">
                        {% csrf_token %}
                        <div class="md-form">
                            <label for="id_email">Email</label>
                            <input type="email" id="id_email" name="email" class="form-control" autocomplete="email"
                                maxlength="254" required placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block my-4">Submit</button>
                        <p>Not a member?
                            <a href="{% url 'signup' %}">Register</a>
                        </p>
                        <p>Or log in
                            <a href="{% url 'login' %}">here</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}