{% extends "base.html" %}
{% block title %} Password Reset {% endblock title %}
{% block content %}
<div class="container my-5 p-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            {% if validlink %}
            <div class="card shadow-0 border rounded-5">
                <div class="card-header text-center bg-white">
                    <h3 class="mb-0">Reset Your Password</h3>
                </div>
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <input type="password" name="new_password1" autocomplete="new-password"
                                id="id_new_password1" class="form-control" placeholder="Enter password" required />
                            <label class="form-label" for="id_new_password1">New Password</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" name="new_password2" autocomplete="new-password"
                                id="id_new_password2" class="form-control" placeholder="Confirm password" required />
                            <label class="form-label" for="id_new_password2">New Password Confirmation</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mb-4">Reset Password</button>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="alert alert-warning">
                The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}